In [12]:
import pandas as pd

In [13]:
pd.set_option("display.max_rows", 10)

In [22]:
sutra_df = pd.read_csv("sutra_shirts.csv")

In [23]:
sutra_df

,search_rank,product_name,old_price,discount,new_price,source,rating,number_of_ratings,official_store,brand_name
0,1,Over Size Heavy Jersey T-Shirt Wine,479.0,50,240.0,sutra,NaN,NaN,official_store,sutra
1,2,Linen Basic Shirt Dark Blue,749.0,50,375.0,sutra,NaN,NaN,official_store,sutra
2,3,Basic Slim Fit Round T-Shirt Mostard,299.0,50,150.0,sutra,NaN,NaN,official_store,sutra
3,4,Injection Polo T-Shirt Blue,499.0,50,250.0,sutra,NaN,NaN,official_store,sutra
4,5,Short Sleeves Stripped FZ Shirt Turquoise,499.0,50,250.0,sutra,NaN,NaN,official_store,sutra
...,...,...,...,...,...,...,...,...,...,...
402,7,Summer Milton Patch Lines White,399.0,50,200.0,sutra,NaN,NaN,official_store,sutra
403,8,Over Size PR-Brush Green,349.0,50,175.0,sutra,NaN,NaN,official_store,sutra
404,9,Over Size PR-Wings Black,349.0,50,175.0,sutra,NaN,NaN,official_store,sutra
405,10,Over Size PR-Plastic Art White,349.0,50,175.0,sutra,NaN,NaN,official_store,sutra
406,11,Linen Big Line Rose,599.0,0,599.0,sutra,NaN,NaN,official_store,sutra

In [20]:
jumia_df = pd.read_csv("shirts_jumia_data_set.csv")

In [21]:
jumia_df

,search_rank,product_name,old_price,discount,new_price,rating,number_of_ratings,official_store,brand_name,source
0,1,American Eagle Super Soft Graphic T-Shirt,950.00,50,475.00,4.4,89,official_store,american,Jumia
1,2,American Eagle AE Super Soft Graphic T-Shirt,700.00,50,350.00,4.4,97,official_store,american,Jumia
2,3,American Eagle AE Super Soft Logo Graphic T-Sh...,1300.00,30,910.00,4.9,10,official_store,american,Jumia
3,4,Mesery Bundle Of (4) Cotton Stretch Plain Tank...,399.00,50,199.99,4.1,124,official_store,mesery,Jumia
4,5,American Eagle Super Soft Graphic T-Shirt,950.00,50,475.00,4.4,86,official_store,american,Jumia
...,...,...,...,...,...,...,...,...,...,...
1995,1996,Defacto Slim Fit One-Shoulder Camisole Singlet,299.04,23,228.90,NaN,0,official_store,defacto,Jumia
1996,1997,American Eagle Everyday Oxford Button-Up Shirt,1600.00,40,960.00,NaN,0,official_store,american,Jumia
1997,1998,Defacto Slim Fit Long Sleeve Zebra Print Crop Top,498.96,51,244.44,NaN,0,Non,Not a brand,Jumia
1998,1999,Aerie Lumberjane Waffle Shirt,1800.00,40,1080.00,NaN,0,official_store,aerie,Jumia
1999,2000,Diadora Boys Printed Cotton T-Shirt - White,259.00,30,181.00,4.8,4,Non,Not a brand,Jumia

I need to make they both have the same columns to merge

In [24]:
jumia_df.columns

Index(['search_rank', 'product_name', 'old_price', 'discount', 'new_price',
       'rating', 'number_of_ratings', 'official_store', 'brand_name',
       'source'],
      dtype='object')

In [25]:
sutra_df.columns

Index(['search_rank', 'product_name', 'old_price', 'discount', 'new_price',
       'source', 'rating', 'number_of_ratings', 'official_store',
       'brand_name'],
      dtype='object')

I will go back to the original code to fix the names of each columns then get back

In [29]:
titles = list(sutra_df)

In [35]:
titles[5],titles[9] = titles[9],titles[5]

In [37]:
sutra_df = sutra_df[titles]

In [38]:
sutra_df

,search_rank,product_name,old_price,discount,new_price,brand_name,rating,number_of_ratings,official_store,source
0,1,Over Size Heavy Jersey T-Shirt Wine,479.0,50,240.0,sutra,NaN,NaN,official_store,sutra
1,2,Linen Basic Shirt Dark Blue,749.0,50,375.0,sutra,NaN,NaN,official_store,sutra
2,3,Basic Slim Fit Round T-Shirt Mostard,299.0,50,150.0,sutra,NaN,NaN,official_store,sutra
3,4,Injection Polo T-Shirt Blue,499.0,50,250.0,sutra,NaN,NaN,official_store,sutra
4,5,Short Sleeves Stripped FZ Shirt Turquoise,499.0,50,250.0,sutra,NaN,NaN,official_store,sutra
...,...,...,...,...,...,...,...,...,...,...
402,7,Summer Milton Patch Lines White,399.0,50,200.0,sutra,NaN,NaN,official_store,sutra
403,8,Over Size PR-Brush Green,349.0,50,175.0,sutra,NaN,NaN,official_store,sutra
404,9,Over Size PR-Wings Black,349.0,50,175.0,sutra,NaN,NaN,official_store,sutra
405,10,Over Size PR-Plastic Art White,349.0,50,175.0,sutra,NaN,NaN,official_store,sutra
406,11,Linen Big Line Rose,599.0,0,599.0,sutra,NaN,NaN,official_store,sutra

I have changed the order of columns

In [39]:
jumia_df.columns

Index(['search_rank', 'product_name', 'old_price', 'discount', 'new_price',
       'rating', 'number_of_ratings', 'official_store', 'brand_name',
       'source'],
      dtype='object')

In [40]:
sutra_df.columns

Index(['search_rank', 'product_name', 'old_price', 'discount', 'new_price',
       'brand_name', 'rating', 'number_of_ratings', 'official_store',
       'source'],
      dtype='object')

In [41]:
#Now to merge the data sets
merged_df = pd.concat([jumia_df, sutra_df])

In [42]:
merged_df

,search_rank,product_name,old_price,discount,new_price,rating,number_of_ratings,official_store,brand_name,source
0,1,American Eagle Super Soft Graphic T-Shirt,950.0,50,475.00,4.4,89.0,official_store,american,Jumia
1,2,American Eagle AE Super Soft Graphic T-Shirt,700.0,50,350.00,4.4,97.0,official_store,american,Jumia
2,3,American Eagle AE Super Soft Logo Graphic T-Sh...,1300.0,30,910.00,4.9,10.0,official_store,american,Jumia
3,4,Mesery Bundle Of (4) Cotton Stretch Plain Tank...,399.0,50,199.99,4.1,124.0,official_store,mesery,Jumia
4,5,American Eagle Super Soft Graphic T-Shirt,950.0,50,475.00,4.4,86.0,official_store,american,Jumia
...,...,...,...,...,...,...,...,...,...,...
402,7,Summer Milton Patch Lines White,399.0,50,200.00,NaN,NaN,official_store,sutra,sutra
403,8,Over Size PR-Brush Green,349.0,50,175.00,NaN,NaN,official_store,sutra,sutra
404,9,Over Size PR-Wings Black,349.0,50,175.00,NaN,NaN,official_store,sutra,sutra
405,10,Over Size PR-Plastic Art White,349.0,50,175.00,NaN,NaN,official_store,sutra,sutra
406,11,Linen Big Line Rose,599.0,0,599.00,NaN,NaN,official_store,sutra,sutra

In [43]:
merged_df["source"].value_counts()

Jumia    2000
sutra     407
Name: source, dtype: int64